/* Inserta tu codigo aqui */

*{
    
}
body{
    background: #2d2735;
    margin: 0;
    padding: 0;
}
.container{
    width: 700px;
    margin: 0 auto;;
    box-sizing: border-box;
}
h1,h3{
    font-family: Lucida Calligraphy;
    color: #f7b96a;
}
p{
    color: white;
}

/* Header */
header{
    background: #1a1720;
    display:flex;
}
header .logo{
    width: 30%;
}
header img{
    width: 200px;
}
.menu{
    float: right;
    width: 68%;
    margin: 0;
}
.logo, .menu{
    display: inline-block;
}
nav{
   box-sizing: border-box;
    margin: 20px 0;
}
nav a{
    padding: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}


/* Hero */
.contenido{
    background-image: url(../image/header-image.jpg);
    height: 300px;
    background-size: cover;
    color: white;
}
.texto{
    box-sizing: border-box;
    display: table-cell;
    position: relative;
    top: 90px;
    left: 150px;
    width: 400px;
    height: 100px;
    background: #1a1720;
}
.texto h1{
    font-size: 50px;
    text-align: center;
    margin: 10px;
}
.texto p{
    text-align: center;
    box-sizing: border-box;
}
/* Flores */
.foto1{
    width: 33%;
    margin: auto;
    float: left;
    margin: 25px 0;
    text-align: center;
}
.foto1 img, .descripcion{ 
    width: 220px;
    
}
.foto1 .descripcion{
    margin-left: 7px;
    background: #1a1720;
    box-sizing: border-box;
    padding: 5px;
}

/* Video */
.clearfix:after {
    content: " ";
    clear: both;
}
.section-video{
    width: 420px;
    text-align: center;
    display: inline-block;
    background: #1a1720;
}
.section-video img{
    width: 100%;
}
.section-video p{
    text-align: left;
}
.section-video small{
    margin-left: 100px;
}
.section-video iframe{
    width: 100%;
}
 
/* iconos */
.iconos{
    width: 260px;
    margin: 0 auto;
    float: right;
}
.search{
   box-sizing: border-box;
    padding: 20px;
    background: #1a1720;
}
.search input{
    width: 100%;
    box-sizing: border-box;
    background: #2d2735;
    border-radius: 5px;
    border: 1px #2d2735;
    padding: 5px 10px;
}
.about-me{
    text-align: center;
    margin-bottom: 20px;
    background: #1a1720;
}
.about-me img{
    width: 100%;
}
.about-me h4{
    text-align: center;
    color: white;
}
.iconos i{
    border-radius: 50%;
    color: #2d2735;
    margin-left: 10px;
}
.about-me p{
    text-align: left;
    padding: 5px;
}



/* Responsive */

@media screen (max-width : 920px) {
    .container{
        width: 700px;
    }
}

@media screen (max-width: 600px) {
    body{
        background: yellow;
    }
    
}
@media screen (max-width: 920px){
    .foto1{
        width: 100%;
        text-align: center;
    }
}
